.text{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.text:hover{
    transform: scale(1.2);
}

.images{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.images img{
    border: 2px solid black;
    filter: blur(2px);
    width: 300px;
    transition: 0.3s ease-in;
    -webkit-filter: blur(2px);
}

.images img:hover{
    transform: scale(1.2);
    filter:drop-shadow(5px 5px 5px black);
}