.header1{
            height: 100px;
            width: 100%;
            background-color: red;
            float: left;
            text-align: center;
        }
        .navbar{
            height: 60px;
            width: 100%;
            background-color: blue;
            float: left;
            text-align: center;
        }
        .header2{
            height: 50px;
            width: 100%;
            background-color: yellow;
            float: left;
            text-align: center;
        }
        .sidebar1{
            height: 500px;
            width: 15%;
            background-color: orange;
            float: left;
            text-align: center;
        }
        .mainbar{
            height: 500px;
            width: 70%;
            background-color: blue;
            float: left;
            text-align: center;
        }
        .sidebar2{
            height: 500px;
            width: 15%;
            background-color: orange;
            float: left;
            text-align: center;
        }
        .footer{
            height: 50px;
            width: 100%;
            background-color: black;
            float: left;
            color: white;
            text-align: center;
        }
        .box{
            height: 100px;
            width: 25%;
            float: left;
            text-align: center;
            background-color: cyan;
        }