body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f6f9;
    color: #444;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}
